export(OUwie,OUwie.sim,OUwie.fixed,OUwie.boot,OUwie.anc,OUwie.dredge,fix.kappa, check.identify)
import(ape, corpcor, nloptr, geiger, RColorBrewer)
importFrom(phytools, make.era.map, getDescendants)
importFrom(numDeriv, hessian)
importFrom(phangorn, Descendants)
importFrom(stats, reorder, rnorm, median)
importFrom(paleotree, dateNodes)
importFrom(graphics, par, title)
importFrom(igraph, count_components, graph_from_edgelist)
exportClasses('OUwie','OUwie.fixed','OUwie.boot','OUwie.anc', 'OUwie.dredge')
S3method(print, OUwie)
S3method(print, OUwie.fixed)
S3method(print, OUwie.dredge)
S3method(plot, OUwie.anc)
S3method(plot, OUwie.dredge)

