export(OUwie,OUwie.sim,OUwie.fixed,OUwie.slice,OUwie.boot,OUwie.joint, OUwie.anc, fix.kappa)
import(ape, nloptr, corpcor, lattice, grDevices, geiger)
importFrom(phytools, make.era.map)
importFrom(numDeriv, hessian)
importFrom(phangorn, Descendants)
importFrom(stats, reorder, rnorm, median)
importFrom(Rmpfr, mpfr)
importFrom(expm, expm)
importFrom(paleotree, dateNodes)
importFrom(corHMM, rate.mat.maker, rayDISC)
exportClasses('OUwie','OUwie.fixed','OUwie.slice', 'OUwie.boot','OUwie.joint', 'OUwie.anc')
S3method(print, OUwie)
S3method(print, OUwie.fixed)
S3method(print, OUwie.slice)
S3method(print, OUwie.joint)
S3method(plot, OUwie.anc)
